<footer class="footer-distributed">

  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-between">

  
  <div class="footer-left" fxFlex="25">

    <img src="./assets/images/Oct_Footer_Logo.png" alt="logo">

    <div class="footer-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Faq</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

    <p class="footer-company-name">Copyright © 2017 Greengage Lighting Ltd</p>
  </div>

  <div class="footer-center" fxFlex="40">
    
    <div fxLayout="row">
      <div>
          <i class="fa fa-map-marker"></i>
      </div>
      <div>
          <p>
              <span>Greengage Lighting Ltd
                Sir Alexander Robertson Building
                Easter Bush Campus
                University of Edinburgh
                EH25 9RG
                </span> Edinburgh, United Kingdom</p>
      </div>
      
    
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+44 (0)131 650 8851</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@company.com">support@greengage.global</a>
      </p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Greengage are committed to helping our customers adapt to more profitable, sustainable and productive farming systems. We deliver the very latest in energy-smart and cutting-edge agricultural lighting solutions. Lighting is an essential part of the agricultural process, We provide market leading LED lamps to serve the farming industry with a simple and highly effective solution you can rely on.
    </p>

    <div class="footer-icons">

      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="#">
        <i class="fa fa-github"></i>
      </a>

    </div>

  </div>
</div>
</footer>