.mat-button{
    margin-top: 30px;
    font-weight: 600;
}

///////////// lg

.border1-lg{
    font-size: 3.1vw;
    color: #969696;
}


////// md

.border1-md{
    font-size: 4.6vw;
    color: #969696;
}

//////////////// sm

.border1-sm{
    font-size: 5.6vw;
    color: #969696;
}