// !!!!!!!!!!!!!!!! xl !!!!!!!!!!!!!!!!!!!!!!!!!!!!!


// !!!!!!!!!!!!!!!! lg !!!!!!!!!!!!!!!!!!!!!!!!!!!!!



// !!!!!!!!!!!!!!!! md !!!!!!!!!!!!!!!!!!!!!!!!!!!!!




// !!!!!!!!!!!!!!!! sm !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.add-farm{
    color: #4caf50;
}

.mat-icon{
    height: 32px;
    width: 32px;
    padding-bottom: 5px;

}

td {
    padding: 0.6vw !important;
}

.mat-button{
    background-color: white;
    color: #6d6c6c;
    line-height: 21px !important;
    font-size: 12px;
    height: 20px;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #b9b9b9;
}

.create-button-div{
    padding-top: 3px;
}