<div class="flex-container user-container" fxLayout="row" 
 ngClass.gt-lg="page-padding-lg" 
 ngClass.lg="page-padding-lg user-container-lg" 
 ngClass.md="user-container-md" 
 ngClass.sm="page-padding-sm user-container-sm" *ngIf="farm">

   <!-- Header -->
   <div fxFlex="100" fxLayout="row" class="example-container component-text" *ngIf="farm">
       <div fxFlex="73" class="example-header">
           <h1 class="farmName">{{farm.msg}}</h1>
           <small>List of all farms registered in Greengage application with basic details.</small>
       </div>
       <div fxFlex fxLayoutAlign="end end">
           <img class="header-icons"  src="./assets/images/farmWhite.png">
       </div>  
   </div>

       <!-- Farm Details -->
       <div fxFlex="100" class="flex-container sminka" fxLayout="row" *ngIf="farm" fxLayoutAlign="start none"  >

           <div fxFlex="55" class="flex-container"
           ngClass.gt-lg="info-div-lg"  
           ngClass.lg="info-div-lg"
           ngClass.md="info-div-md"  
           ngClass.sm="info-div-sm" fxLayout="row">
           <!-- Farm Name -->
               <div fxFlex="100" 
               ngClass.gt-lg="txt-margin-lg"
               ngClass.lg="txt-margin-lg">
                   <div class="profil-details-icons"
                   ngClass.gt-lg="profil-details-icons-lg"
                   ngClass.lg="profil-details-icons-lg"
                   ngClass.md="profil-details-icons-md"  
                   ngClass.sm="profil-details-icons-sm" fxFlex="10" fxFlex.lg="8">
                       <i class="small-icons material-icons">spellcheck</i>
                   </div>
                   <div fxFlex class="text-div"
                   ngClass.gt-lg="text-div-lg" 
                   ngClass.lg="text-div-lg" 
                   ngClass.md="text-div-md" 
                   ngClass.sm="text-div">
                       <p ngClass.gt-lg="number-of-lg2"
                           ngClass.lg="number-of-lg2"
                           ngClass.md="number-of-sm" 
                           ngClass.sm="number-of-sm">
                           <b>Farm Name: </b> {{farm.farm.name}} </p>
                   </div>
               </div>
               <!-- Number of Users -->
               <div fxFlex="100" 
               ngClass.gt-lg="txt-margin-lg"
               ngClass.lg="txt-margin-lg"
               ngClass.md="txt-margin-md" 
               ngClass.sm="txt-margin-sm">
                   <div class="profil-details-icons"
                   ngClass.gt-lg="profil-details-icons-lg"
                   ngClass.lg="profil-details-icons-lg" 
                   ngClass.md="profil-details-icons-md" 
                   ngClass.sm="profil-details-icons-sm" fxFlex="10" fxFlex.lg="8">
                       <i class="small-icons material-icons">group</i>
                   </div>
                   <div fxFlex class="text-div"
                   ngClass.gt-lg="text-div-lg"  
                   ngClass.lg="text-div-lg" 
                   ngClass.md="text-div-md" 
                   ngClass.sm="text-div">
                       <p ngClass.gt-lg="number-of-lg"
                           ngClass.lg="number-of-lg"
                           ngClass.md="number-of-md" 
                           ngClass.sm="number-of-sm" >
                           <span routerLink="/userfarmusers" style="border-bottom:1px dotted"><b>Number of Users: 
                                   <span class="numberOf"
                                   ngClass.gt-lg="numberOf-lg" 
                                   ngClass.lg="numberOf-lg" 
                                   ngClass.md="numberOf-md" 
                                   ngClass.sm="numberOf-sm">{{farm.farm.numberOfUsers}}</span></b></span></p>
                   </div>
               </div>
               <!-- Number of Devices -->
               <div fxFlex="100" 
               ngClass.gt-lg="txt-margin-lg"
               ngClass.lg="txt-margin-lg"
               ngClass.md="txt-margin-md" 
               ngClass.sm="txt-margin-sm">
                   <div class="profil-details-icons"
                   ngClass.gt-lg="profil-details-icons-lg"
                   ngClass.lg="profil-details-icons-lg"  
                   ngClass.md="profil-details-icons-md" 
                   ngClass.sm="profil-details-icons-sm" fxFlex="10" fxFlex.lg="8">
                       <i class="small-icons material-icons">router</i>
                   </div>
                   <div fxFlex class="text-div"
                   ngClass.gt-lg="text-div-lg" 
                   ngClass.lg="text-div-lg" 
                   ngClass.md="text-div-md" 
                   ngClass.sm="text-div">
                       <span>
                           <p ngClass.gt-lg="number-of-lg"
                               ngClass.lg="number-of-lg"
                               ngClass.md="number-of-md" 
                               ngClass.sm="number-of-sm" >
                               <span routerLink='/userdevicedetails' style="border-bottom:1px dotted"><b>Number of Devices: 
                                   <span class="numberOf"
                                   ngClass.gt-lg="numberOf-lg" 
                                   ngClass.lg="numberOf-lg" 
                                   ngClass.md="numberOf-sm" 
                                   ngClass.sm="numberOf-sm">{{farm.farm.deviceNumber}}</span></b></span>
                           </p>
                       </span>
                   </div>
               </div>
            </div>
            <!-- Monitoring temperature -->
            <div fxFlex class="flex-container" fxLayout="row">
                <div fxFlex="100" class="monitoring" ngClass.lg="monitoring-lg"
                ngClass.md="monitoring-md"
                ngClass.sm="monitoring-sm">
                   <p>Temperature threshold:</p>
                </div>
                <div fxFlex="100" class="flex-container" fxLayout="row" ngClass.gt-lg="current-temp-lg"
                ngClass.lg="current-temp-lg" 
                ngClass.md="current-temp-md" 
                ngClass.sm="current-temp-sm" *ngIf="farm.farm.action">
                <div><img class="material-imgs" src="/assets/images/sensors/temperature.png" alt=""></div>      
                    <p class="numberOf"><b>{{action.measurment}} C</b></p>
                </div>
           </div>
       </div>

   <!-- Map card -->
   <div fxFlex="100" class="map-div">
       <div fxFlex class="cards3">
           <mat-card class="cards1" ngClass.lg="cards1-lg">
               <mat-card-header>
                   <img mat-card-avatar 
                   ngClass.gt-lg="mat-card-avatar-lg" 
                   ngClass.lg="mat-card-avatar-lg" 
                   ngClass.md="mat-card-avatar-md"
                   ngClass.sm="mat-card-avatar-sm" src="./assets/images/MapsLogo.png">
               </mat-card-header>
               <agm-map 
               ngClass.gt-lg="maps-lg"
               ngClass.lg="maps-lg"
               ngClass.md="maps-md"
               ngClass.sm="maps-sm"
                [latitude]="lat" [longitude]="lng" [zoom]="zoomIn">
                       <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                     </agm-map>
           </mat-card>
       </div>
   </div>

   <div class="center" [hidden]="farm || errMess">
       <mat-progress-spinner style="margin:0 auto; position:absolute;
           right:50%;top:50%;" mode="indeterminate"></mat-progress-spinner>
   </div>

</div>
