a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  .menu-card{
      width: 330px;
      height: 340px;
      background-color: white;
      border-radius: 5px;
  }

  .titles-div{
    padding-top: 30px;
    margin-left: 25px;
  }

  .card-icon{
    padding-top: 18px;
    text-align: right;
  }

  .company-number{
    height: 48px;
  }

  .total-div{
    margin-left: 25px;
    color: #6a6c6f;
  }

  .footer-div{
    background-color: #4C9D2A;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    font-size: 11px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.3px;
    height: 55px;
  }

  .footer-div p{
      margin: 0;
  }

  .footer2-div p{
    margin-bottom: 16px !important;    
}

// .new-card{
//     text-align: center;
// }

  .small-txt{
    padding-left: 25px;
    padding-right: 35px;
    margin-bottom: 14px;
  }


.small-txt p{
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #6a6c6f;
}

  
.text-success{
    color: #4C9D2A;
    font-weight: normal;
    font-size: -webkit-xxx-large;
    margin: 0 0 0 55px;
}

.cardText{
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    font-size: larger;
    color: #4C9D2A;
}

.card-header{
    height: 72px;
}


//////////////////////////// podesiti 
.container2{
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
}


.img-avatar{
        height: 62px;
    }

.farm-icon{
    padding-top: 18px;
    padding-left: 33px;
}



.proba{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
  }

  .myflex{
    flex: 0 1 auto;
    margin-top: 30px;
  }

  .menu-group{
    margin-right: 34px;
  }