<div style="position:absolute;top:0;left:0;right:0;bottom:0;">
    <mat-sidenav-container #sidenav style="height:100%;width:100%;" class="primary">

        <mat-sidenav mode="over" #sidenav class="boja sidenav-lg" 
                     ngClass.md="sidenav-md" 
                     ngClass.sm="sidenav-sm" >
                     
            <mat-nav-list>
                <div class=" logo-img">
                    <img ngClass.gt-lg="logo-gt-lg"
                         ngClass.lg="logo-lg"
                         ngClass.md="logo-md"
                         ngClass.sm="logo-sm" 
                         routerLink="/menu" src="/assets/images/logo11.png">
                </div>
                <a mat-list-item routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" (click)="onMenuRouting()">
                    <i class="material-icons">people</i>&ensp;
                    <p class="txtCol">Users</p>
                </a>
                <a mat-list-item routerLink="/menu" routerLinkActive="active" (click)="onMenuRouting()">
                    <i class="material-icons">dashboard</i>&ensp;
                    <p class="txtCol"> Dashboard</p>
                </a>
                <a mat-list-item routerLink="/companies" routerLinkActive="active" (click)="onMenuRouting()">
                    <i class="material-icons">work</i>&ensp;
                    <p class="txtCol">Companies</p>
                </a>
                <a mat-list-item routerLink="/farms" routerLinkActive="active" (click)="onMenuRouting()">
                    <img class="mat-icon"  src="./assets/images/farm.png">
                    <p class="txtCol">Farms</p>
                </a>
                <a mat-list-item routerLink="/devices" routerLinkActive="active" (click)="onMenuRouting()">
                    <i class="material-icons">router</i>&ensp;
                    <p class="txtCol">Devices</p>
                </a>
                <a mat-list-item routerLink="/events" routerLinkActive="active" (click)="onMenuRouting()">
                    <i class="material-icons">event</i>&ensp;
                    <p class="txtCol">Events</p>
                </a>
                <a mat-list-item routerLink="/settings" routerLinkActive="active" (click)="onMenuRouting()">
                    <i class="material-icons">settings</i>&ensp;
                    <p class="txtCol">Settings</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-toolbar class="boja2 shadows"  style="min-height:64px;" *ngIf="showMenu">
                <button class="menuButton" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="mat-24 ">menu </mat-icon>
                </button>

                <div class="space"></div>
                <a mat-button class="login" (click)="logout()">
                    <i class="fa fa-sign-out fa-2x"></i> Logout</a>
        </mat-toolbar>  
        <div [ngClass]="{'inner-sidenav-content' : showMenu, 'user-inner-sidenav-content': userMenu}">
            <div class="flex-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
    <mat-toolbar id="usertoolbar" *ngIf="userMenu">
        <a routerLink="/test"> 
            <div>
                    <img class="home-icon" src="./assets/images/icons/iconGray.png">
            </div>
        </a>
        <div class="usertoolbar-spaceing"></div>
        <div>
            <i (click)="logout()" class="fa fa-sign-out logout-icon" aria-hidden="true"></i>
        </div>       
    </mat-toolbar> 
    <app-footer></app-footer>
</div>