.active{
    background-color:#1a661a;
    border-radius: 10px;
    border-block-end: 1px solid black;
}

.logo{
   border: 1px solid #509330;
   border-radius: 10px;
   height: 50;
   width: 95%;
   padding: 0px;
}
