.profil-details{  
    padding-left: 1.953125vw; 
    padding-top: 1.7578125vw; 
  } 
  .profil-details p{ 
    color: #6a6c6f; 
    font-size: 2.2vw; 
    line-height: 1.1; 
    font-weight: 400;  
  }  
  
  .farmName { 
    font-size: 2.9296875vw; 
    line-height: 1.1; 
    font-weight: 400; 
    margin:0; 
    margin-bottom: 0.48828125vw; 
  }
  
  .material-imgs{
    height: 33px
  }
  
  
  //////////////////////////////////////////////////////////////////////////////////////////////lg
  
  
  .material-icons-lg{ 
    font-size: 2.296875vw; 
  } 
  
  .co2-lg{
    height: 2.9vw;
  }
  
  .rgb-lg{
  height: 2.9vw;
  }
  
  .nh3-lg{
  height: 2.49vw;
  }
  
  .profil-details-lg{ 
    padding-left: 1.953125vw; 
    padding-top: 0.7578125vw; 
  }
  
  .profil-details-lg p{ 
    color: #6a6c6f; 
    font-size:1.35625vw; 
    line-height: 1.1; 
    font-weight: 400;    
  } 
  
  .profil-details-icons-lg{ 
    padding-top: 0.68359375vw; 
  } 
  .profil-details-icons2-lg{ 
    padding-top: 0;  
  } 
  
  .text-divs-lg{
    height: 5vw;
  }
  
  .page-padding-lg{
    padding: 11.95313vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  
  
  .sminka-lg{
    margin-top: 1vw;
  }
  
  .farmName-lg{
    font-size: 2.296875vw;
    line-height: 1.1;
    font-weight: 300;
    margin:0;
    margin-bottom: 0.48828125vw;
  }
  
  
  ///////////////////////////////////////////////////////////////////////////////////md
  
  .sminka-md{
    margin-top: 1.46484375vw;
  }
  
  .text-divs-md{
    height: 5.859375vw;
    padding-top: 7px;
  }
  
  .profil-details-md{ 
    padding-left: 1.953125vw; 
    padding-top: 1.7578125vw;
    }
    
    .profil-details-md p{ 
      color: #6a6c6f;
      font-size: 1.66vw;
      line-height: 0.1;
      font-weight: 400; 
    } 
  
  
  ///////////////////////////////////////////////////////////////////////////////////////////sm
  
  .co2-sm{
    height: 4.7vw;
  }
  
  .rgb-sm{
    height: 4.7vw;
  }
  
  .nh3-sm{
  height: 4.3vw;
  }
  
  .example-container-sm{
    padding: 1.953125vw;
    margin-bottom: 0.441406vw;
  }
  
  .sminka-sm{
    margin-top: 1.46484375vw;
  }
  
  .farmName-sm{
    font-size: 2.9296875vw;
    line-height: 1.1;
    font-weight: 300;
    margin:0;
    margin-bottom: 0.48828125vw;
  }
  
  .marg-sm{
    margin-left: 4.325vw !important;
  }
  
  .profil-details-icons-sm{ 
    padding-top: 0; 
    margin-right: 2.5vw; 
  } 
  
  .material-icons-sm{ 
    font-size: 3.9296875vw; 
  } 
  
  .page-padding-sm{
    padding: 1.953125vw;
  }
  
  .farmName-sm{
  font-size: 2.9296875vw;
  line-height: 1.1;
  font-weight: 300;
  margin:0;
  margin-bottom: 0.48828125vw;
  }
  
  .profil-details-sm{ 
  padding-left: 1.953125vw; 
  padding-top: 1.7578125vw;
  }
  
  .profil-details-sm p{ 
  color: #6a6c6f; 
  font-size: 1.9866vw; 
  line-height: 1.1; 
  font-weight: 400;    
  } 
  
  .text-divs-sm{
    height: 6.859375vw;
    padding-top: 2px;
  }
  
  