.example-container{
  background-color: #4C9D2A;
  color: white;
  border: 1px solid #e4e5e7;
  border-radius: 5px;

}

.credentials-div{
  color: #6a6c6f;
  font-size: 15px;
}



.user{
  text-align: left;
  margin-left: 43px;
}
// !!!!!!!!!!!!!!!! xl !!!!!!!!!!!!!!!!!!!!!!!!!!!!!


// !!!!!!!!!!!!!!!! lg !!!!!!!!!!!!!!!!!!!!!!!!!!!!!


.page-padding-lg{
  padding: 8.95313vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.farmName-lg{
  line-height: 1.1;
  font-weight: 300;
  margin:0;
  margin-bottom: 0.48828125vw;
}

// !!!!!!!!!!!!!!!! md !!!!!!!!!!!!!!!!!!!!!!!!!!!!!



// !!!!!!!!!!!!!!!! sm !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.page-padding-sm{
  padding: 1.953125vw;
}

.example-container-sm{
  padding: 1.953125vw;
  margin-bottom: 2.441406vw;
}

.farmName-sm{

  line-height: 1.1;
  font-weight: 300;
  margin:0;
  margin-bottom: 0.48828125vw;
}
