
.events-div{
    background-color: #f6f6f6;
    border-radius: 4px;
    width: -webkit-fill-available;
}

.even{
    background-color:#d5eacb;
    flex-wrap: wrap;
    color:black;
    padding: 10px; 
}

.odd{
    background-color:white;
    flex-wrap: wrap;
    color:black;
    padding: 10px;
}

// !!!!!!!!!!!!!!!! xl !!!!!!!!!!!!!!!!!!!!!!!!!!!!!


// !!!!!!!!!!!!!!!! lg !!!!!!!!!!!!!!!!!!!!!!!!!!!!!


.even-lg{
    height: 12.578125vw;
    padding: 2.1484375vw;
    padding-top: 1vw;
    padding-bottom: 0;   
}

.odd-lg{
    height: 12.578125vw;
    padding: 2.1484375vw;
    padding-top: 1vw;
    padding-bottom: 0;
}


.img-odd-even-lg{
    font-size: 7vw;
}

.event-green-lg p{
    margin: 0px;
}

.event-name-lg{
    height: 2.39453125vw;
    margin: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.65vw;
}

.event-name-lg p{
    margin-top: 4px;
    margin-bottom: 0;
}

.event-date-lg{
    height: 2.394531vw;
    margin: 2px;
    font-size: 1.1vw;
}

.event-record-lg{
    height: 2.394531vw;
    margin: 2px;
    text-align: right;
}

.event-record-lg p{
font-size: 0.9vw;
}
.event-text-lg{
    height: 4vw;
    font-size: 1.1484375vw;
}
.event-text-lg p{
    margin: 0;
    padding-left: 12px;
}
.event-img-lg{
    text-align: right;
}


.event-container-lg{
    color: #585858;
    //font: 1.171875vw;
}

.events-div-lg{
    height: 52vw;
}




// !!!!!!!!!!!!!!!! md !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.events-div-md{
    height:  65vw;
}

.even-md{
    height: 16.125vw;
    padding: 2.48438vw;
    padding-top: 1.75vw; 
}

.even-md p{
    margin: 0;
}

.odd-md{
    height: 16.125vw;
    padding: 2.48438vw;
    padding-top: 1.75vw;
}

.odd-md p{
    margin: 0;
}

.img-odd-even-md{
    font-size: 8.8vw;
    margin-right: 17px;
}

.event-name-md{
    height: 3.39453125vw;
    margin: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.384375vw;
}

.event-date-md{
    height: 3.39453125vw;
    margin: 2px;
    padding: 0.5859375vw;
    font-size: 1.6vw;
}

.event-record-md{
    height: 3.39453125vw;
    margin: 2px;
    text-align: right;
    padding: 0.5859375vw;
    font-size: 1.6vw;
}

.event-text-md{
    height: 8.30078125vw;
    margin: 2px;
    padding-left: 1vw;
    font-size: 1.475vw;
}
.event-img-md{
    text-align: right;
}



// !!!!!!!!!!!!!!!! sm !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.events-div-sm{
    height: 98vw;
}

.even-sm{
    height: 18.578125vw;
    padding: 2.1484375vw;
}

.even-sm p{
    margin: 0;
}


.odd-sm{
    height: 18.578125vw;
    padding: 2.1484375vw;
}

.odd-sm p{
    margin: 0;
}

.event-green p{
    margin: 0px;
}

.event-name-sm{
    height: 4.39453125vw;
    margin: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.75vw;
}

.event-date-sm{
    height: 4.39453125vw;
    margin: 2px;
    padding: 0.5859375vw;
    font-size: 1.7vw;
}

.event-record-sm{
    height: 4.39453125vw;
    margin: 2px;
    text-align: right;
    padding: 0.5859375vw;
}

.event-record-sm p{
font-size: 1.9vw;
}
.event-text-sm{
    height: 8.30078125vw;
    margin: 2px;
    padding-left: 0.9765625vw;
    font-size: 2vw;
}
.event-img-sm{
    text-align: right;
}


.event-container{
    color: #585858;
    //font: 1.171875vw;
}

.img-odd-even-sm{
    font-size: 10.5vw;
    margin-right: 17px;
}


.scroll-container{
    height: 96vw;
}

.scroll{
    height: 230vw;
}

::-webkit-scrollbar { 
    display: none; 
}