<div class="flex-container" ngClass.lg="container-padding-lg" ngClass.md="container-padding-sm" ngClass.sm="container-padding-sm"
    fxLayout="row">

    <!-- Header -->
    <div fxFlex="100" fxLayout="row" class="example-container component-text" *ngIf="device">
            <div fxFlex="73" class="example-header">
                <h2 class="farmName">{{device.msg}}</h2>
                <small>List of all devices registered in ,,Some,, farm with basic details.</small>
            </div>
            <div fxFlex fxLayoutAlign="end end">
                <i class="header-icon material-icons">router</i>
            </div>
        </div>




    <div fxFlex class="table-div" *ngIf="device">
        <table id="example" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
                <tr>
                    <th>Device Name</th>
                    <th>Version</th>
                    <th>Status</th>
                    <th class="view-delete">Device Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dev of device.devices">
                    <td style="text-align:center;">{{dev.deviceName}}</td>
                    <td style="text-align:center;">{{dev.version}}</td>
                    <td style="text-align:center;">{{dev.status}}</td>
                    <td>
                        <button mat-button [routerLink]="['/realdetails', dev.id]">
                            <i class="material-icons small-icons">pageview</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div fxFlex="100">
        <button mat-button class="back-button" (click)="goBack()">BACK</button>
    </div>
</div>

<div class="center" [hidden]="device || errMess">
    <mat-progress-spinner style="margin:0 auto; position:absolute;
                right:50%;top:50%;" mode="indeterminate"></mat-progress-spinner>
</div>