.material-imgs{
    height: 29px
  }

  .material-imgs-cloud{
    height: 33px
  }
////////////////////////////////////////////////// lg


/////////////////////////////////////////////////// md

.icons-row-md{
    width: 210px;
}

/////////////////////////////////////////////////// sm

.icons-row-sm{
    width: 240px;
}
